body {
  background-color: #212121;
}

h1 {
  border-bottom: solid 1px gray;
  margin: auto;
  width: fit-content;
  text-align: center;
}

h1:hover {
  cursor: pointer;;
}

h1::before {
  content: "CS";
  color: rgb(255, 183, 50);
}

h1::after {
  content: "util";
  color: rgb(50, 78, 172);
}

img {
  height: 900px;
  width: 900px;
}

.toolbar {
  margin-bottom: 10px;
}

.toolbar label {
  color: white;
}

#smoke {
  position: absolute;
  opacity: 50%;
  border-radius: 50%;
  padding: 25px;
  border: solid 1px gray;
  z-index: 1;
}

#smoke:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  opacity: 80%;
}

#arrow {
  position: absolute;
  width: 20px;
  height: 40px;
  z-index: 3;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#arrow img {
  left: -5px;
  top: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
}

#callout {
  position: absolute;
  opacity: 90%;
  color: white;
  font-size: 16px;
}

.tutorial {
  position: absolute;
  border: solid 1px white;
  width: 90%;
  height: 90%;
  left: 0;
  right: 0;
  margin: auto;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.tutorial .topbar {
  display: flex;
  color: white;
}

.tutorial .topbar p {
  margin: auto;
  margin-left: 10px;
  cursor: pointer;
  font-size: 25px;
}

.tutorial .content {
  display: flex;
  justify-content: center;
  margin-inline: 20px;
  gap: 10px;
}

.tutorial .content iframe {
  aspect-ratio: 16 / 9;
  height: 90%;
  width: 90%;
}

.tutorial .content .info {
  color: white;
}

.tutorial .content .info h3 {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.tutorial .content .info p {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.tutorial button {
  width: 40px;
  height: 40px;
  align-self:flex-start;
}

.tutorial img {
  max-width: fit-content;
  max-height: 300px;
  align-self: center;
}