body {
  background-color: #212121;
  font-family: "Franklin Gothic Medium";
}

.navbar h1 {
  border-bottom: solid 2px white;
  margin: auto;
  width: fit-content;
  text-align: center;
  font-size: 50px;
  padding-inline: 20px;
  transition-duration: 0.4s;
}

.navbar h1:hover {
  cursor: pointer;
  padding-inline: 50px;
  transition-duration: 0.4s;
}

.navbar h1::before {
  content: "CS";
  color: rgb(255, 183, 50);
}

.navbar h1::after {
  content: "util";
  color: rgb(50, 78, 172);
}

.welcome {
  margin: auto;
  width: fit-content;
  margin-top: 50px;
  margin-bottom: 40px;
}

.welcome h1 {
  color: white;
  text-align: center;
}

.welcome p {
  font-size: 17px;
  color: white;
}

.footer {
  display: flex;
  background-color: #313131;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  gap: 200px;
}

.footer h4 {
  font-size: 20px;
}

.footer p {
  font-family: "Franklin Gothic";
}

.footer h4, p {
  color: gainsboro;
}

#bmcImage {
  height: 40px;
  width: 142px;
}

.mapbuttons {
  margin: auto;
  width: fit-content;
  margin-top: 50px;
  margin-bottom: 200px;
}

.mapbuttons button {
  margin-inline: 2px;
  margin-bottom: 10px;
  width: 180px;
  height: 600px;
  border-radius: 15px;
  background-position: 40% 30%;
  border: solid 2px dimgray;
  transition-duration: 0.5s;
  vertical-align: top;
}

.mapbuttons button:hover {
  cursor: pointer;
  transition-duration: 0.5s;
  border: solid 2px whitesmoke;
  background-position: 40% 29%;
}

.mapbuttons button #icon {
  transition-duration: 0.5s;
  width: 130px;
  height: 130px;
  margin-bottom: 20px;
  top: 0;
  position: relative;
}

.mapbuttons button:hover #icon {
  transition-duration: 0.5s;
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  top: -30px;
}

.mapbuttons button p {
  color: white;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium';
  margin-top: 50px;
}

img {
  height: 900px;
  width: 900px;
}

.toolbar {
  display: flex;
  margin: auto;
  width: fit-content;
  margin-bottom: 10px;
  margin-top: 40px;
  gap: 30px;
}

.toolbar label {
  color: white;
  font-family: Helvetica;
  font-size: 16px;
  vertical-align: middle;
}

.toolbar .tool input {
  height: 17px;
  width: 17px;
  margin-right: 5px;
  vertical-align: middle;
}

#smoke {
  position: absolute;
  opacity: 50%;
  border-radius: 50%;
  padding: 25px;
  border: solid 1px gray;
  z-index: 1;
  transition-duration: 0.4s;
}

#smoke:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  opacity: 80%;
}

#origin {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 3;
  padding: 0px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#origin:hover {
  background-color: rgb(200, 130, 0);
}

#line {
  position: absolute;
}

#line polyline {
  stroke-width: 3px;
  stroke-dasharray: 10px, 10px;
}

#callout {
  position: absolute;
  opacity: 90%;
  color: white;
  font-size: 16px;
  font-family:'Franklin Gothic Medium'
}

.tutorial {
  position: absolute;
  border: solid 1px gray;
  width: 90%;
  height: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  border-radius: 10px;
  padding-bottom: 50px;
}

.tutorial .topbar {
  display: flex;
  color: white;
  margin-bottom: 20px;
}

.tutorial .topbar h2 {
  margin: auto;
  margin-left: 20px;
  font-size: 25px;
  padding-bottom: 5px;
  padding-right: 5%;
  padding-top: 5px;
  border-bottom: solid 1px;
}

.tutorial button {
  padding-inline: 0px;
  background-color: rgba(255, 255, 255, 0.178);
  border: none;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.tutorial button:hover {
  background-color:crimson;
  transition-duration: 0.4s;
}

.tutorial button #close {
  width: 30px;
  height: 30px;
  filter: invert();
}

.tutorial .content {
  display: flex;
  justify-content: center;
  margin-inline: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.tutorial .content iframe {
  aspect-ratio: 16 / 9;
  height: 70%;
  width: 70vw;
}

.tutorial .content .info {
  color: white;
}

.tutorial .content .info h3 {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.tutorial .content .info p {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.tutorial .content .info .symbols span {
  display: flex;
  justify-content: center;
}

.tutorial .content .info .symbols span p {
  font-size: 30px;
  margin-inline: 15px;
}

.tutorial .content .info .symbols img {
  width: 70px;
  height: 70px;
}

#space {
  height: 55px;
  align-self:flex-end
}

#w {
  width: 30px;
  height: 55px;
  align-self: flex-end;
}

.tutorial .content .info #info {
  margin-top: 10px;
  font-family: 'Franklin Gothic'
}

.tutorial button {
  width: 40px;
  height: 40px;
  align-self:flex-start;
}

.tutorial img {
  width: 100%;
  max-width: fit-content;
  max-height: 300px;
  align-self: center;
}